@import "tailwindcss";

body {
  background-color: #f1f5f9;
}

html {
  scroll-behavior: smooth;
}

/* .slick-slide > div {
  margin: 0 !important;
  padding: 0 !important;
} */

/* .slick-slide {
  display: flex !important;
} */

/* Remove the auto inline-block spacing */
/* .slick-slide > div {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
} */

/* Optional: make the slide use exact width without gaps */

/* .slick-slide.slick-cloned > div {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
} */

/* .testimonials-slider .slick-slide {
  width: 370px !important;
} */
/* .slick-slide {
  width: 370px !important;
} */
